:root {
  /* colors */
  --black-00: #380000;
  --black-05: #380000;
  --black-10: #9a7976;
  --cream: #fff4ee;
  --cream-10: #fdfaf8;
  --white: #ffffff;

  --red-00: #862f08;
  --red-05: #e85a28;
  --red-10: #f8d1ba;

  --green-00: #016e38;
  --green-05: #24a759;
  --green-10: #cce1cc;

  --blue-00: #565faa;
  --blue-05: #5b8fcb;
  --blue-10: #d1dbf0;

  /* spacing */
  --padding-x: 1rem;
  --padding-y: 3rem;

  --header-height: 100px;
}

body {
  background: var(--cream-10);
  color: var(--black-00);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--black-00);
  padding: 0.25em 0;
  transition: color 0.125s ease;
}

a:not(.logo):not(.product-card):hover {
  border-bottom: 0.25em solid var(--black-05);
  color: var(--black-10);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  :root {
    --padding-x: 2rem;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
