footer {
  background: var(--black-10);
  color: var(--cream) !important;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

footer a,
footer p {
  color: var(--cream);
}

footer a {
  padding: 0.0625em 0;
}

footer a:hover {
  color: var(--black-00) !important;
}

.email,
.menus {
  padding-bottom: var(--padding-y);
}

.menus > div {
  width: max-content;
}

.email p {
  font-weight: 500;
}

.email input,
.email button {
  border: 1px solid var(--black-10);
  padding: 0.75em;
  line-height: 1;
  font-size: 1rem;
  background: var(--cream);
  font-family: inherit;
  margin-top: 1rem;
}

.email input {
  width: 40%;
}

.email button {
  font-weight: 500;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

footer h5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.0125em;
  opacity: 0.5;
}

.legal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  opacity: 0.5;
}

.bcorp {
  max-width: 75px;
  display: inline-block;
}

.legal p {
  max-width: initial;
}

.footer-footer {
  padding-top: calc(var(--padding-y) / 2);
  padding-bottom: calc(var(--padding-y) / 2);
  background: #311;
  color: var(--cream);
}

.footer-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-footer .logo {
  max-width: 50px;
  margin: -0.5rem;
}

.footer-footer a {
  color: var(--cream);
}

.footer-footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-footer li:not(:first-of-type) {
  margin-left: 2rem;
}
