header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: var(--cream-10);
  height: var(--header-height);
  transition: all 0.2s ease;
}

header > .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

header.is-scrolled {
  height: calc(var(--header-height) / 1.75);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.01);
}
