.hero {
  padding-top: calc(var(--header-height) * 1.5);
  padding-bottom: var(--padding-y);

  background-image: url("../../img/hemp-texture.jpg");
  background-color: var(--cream-10);
  background-size: cover;
  background-blend-mode: color-burn;

  min-height: 35vh;
  position: relative;
}

/* .index .hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1rem;
  width: 100%;
  background: var(--red-00);
  z-index: 1;
} */

.hero .container {
  z-index: 2;
  position: relative;
}

.hero .image {
  align-self: center;
}

.hero p {
  color: var(--black-00);
}

.elevator-pitch {
  padding: var(--padding-y) 0;
}

.elevator-pitch br {
  margin-bottom: 0.5em;
}

.elevator-pitch h2 {
  font-size: 1.75rem;
  line-height: 1.2;
}

.elevator-pitch h2 strong {
  font-weight: inherit;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .elevator-pitch br {
    margin-bottom: 0;
  }

  .elevator-pitch h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
}
