.hero {
  padding-top: calc(var(--header-height) * 1.5);
  padding-bottom: var(--padding-y);
  /* padding: var(--padding-y) 0; */

  background: var(--blue-10);
  /* color: var(--cream-10); */

  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero > .container {
  display: flex;
  flex-direction: column-reverse;
  /* align-items: center; */
}

.hero p {
  color: var(--black-00);
}

.elevator-pitch {
  padding: var(--padding-y) 0;
}

.elevator-pitch br {
  margin-bottom: 0.5em;
}

.elevator-pitch h2 {
  font-size: 1.75rem;
  line-height: 1.2;
  /* font-weight: 400; */
}

.elevator-pitch h2 strong {
  font-weight: inherit;
}

.hero-product {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

.hero-product img {
  max-height: 35vh;
  min-height: 35vh;
  width: auto;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .hero > .container {
    flex-direction: row;
  }
  .elevator-pitch br {
    margin-bottom: 0;
  }
  .elevator-pitch {
    width: 60%;
  }
  .elevator-pitch h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
}
