.hero {
  padding-top: var(--header-height);
  padding-bottom: var(--padding-y);

  background-image: url("https://source.unsplash.com/random?marijuana");
  background-color: pink;
  background-blend-mode: screen;
  background-size: cover;
  background-position: center center;

  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission {
  padding: var(--padding-y) 0;
}

.mission h2 {
  font-size: 3rem;
  line-height: 1;
}

.mission p {
  margin-top: 1rem;
}

.mission .cta {
  margin-top: 1rem;
}
