.inspiration > .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: p22-mackinac-pro, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  line-height: 1.2;
}

.inspiration {
  position: relative;
}

.inspiration::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1rem;
  width: 100%;
  background: var(--red-00);
  z-index: 1;
}

/* .inspiration > .container::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--padding-x) * 2);
  height: calc(100% + var(--padding-y) * 2);

  margin-top: calc(var(--padding-y) * -1);
  margin-left: var(--padding-x);

  border-top: 1px dotted var(--black-00);
  border-bottom: 1px dotted var(--black-00);
} */

.inspiration .quote {
  margin-top: -0.25em;
}

.inspiration .cite {
  color: var(--red-00);
  font-size: 0.75em;
}

.inspiration strong {
  text-decoration: underline;
}

.inspiration {
  background-image: url("../../img/hemp-texture.jpg");
  background-size: cover;
  background-color: var(--cream-10);
  background-blend-mode: color-burn;
}
/*
.inspiration.anna {
  background-color: var(--cream-10);
}

.inspiration.anna .cite {
  color: var(--green-00);
  opacity: 0.5;
}

.inspiration.maya {
  background-color: var(--cream-10);
}

.inspiration.maya .cite {
  color: var(--red-00);
  opacity: 0.5;
} */
