.kickstart-main {
  padding-top: var(--padding-y);
  /* padding-bottom: var(--padding-y); */
}

.kickstart-related {
  grid-column: 1/-1;
}

.kickstart .product-card > *:last-child {
  margin-top: 1rem;
}

.kickstart h3 {
  line-height: 1;
}

.kickstart .image img {
  top: -18%;
}

.sub-h3 {
  color: var(--black-10);
  font-size: 0.75em;
  display: inline-block;
  margin-bottom: 1rem;
}
