.kickstart-main {
  padding-top: var(--padding-y);
  /* padding-bottom: var(--padding-y); */
}

.kickstart-related {
  padding-top: calc(var(--padding-y) * 2);
  grid-column: 1/-1;
}

.kickstart .product-card > *:last-child {
  margin-top: 1rem;
}

.kickstart h3 {
  line-height: 1;
}

.sub-h3 {
  color: var(--black-10);
  font-size: 0.75em;
  display: inline-block;
  margin-bottom: 1rem;
}

@media (min-width: 375px) {
}

@media (min-width: 768px) {
  .kickstart-related {
    padding-top: 0;
    margin-top: -3rem;
  }
  .kickstart .image img {
    top: -18%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
