.image .lottie {
  margin-top: -100%;
  transform: scale(1.5);
}

.scale-fill path {
  fill: var(--cream-10);
}

.scale-stroke path {
  fill: var(--blue-05);
}

@media (min-width: 375px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
