.product-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

@media (min-width: 414px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 640px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .product-list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
}
