.randomizer {
  background: var(--cream);
  padding: 1rem;
}

.randomizer p {
  margin: 0;
  max-width: initial;
  color: var(--black-00);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .randomizer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .randomizer p {
    grid-column: span 2;
  }
  .randomizer button {
    margin-top: 0 !important;
    align-self: center;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
