.results {
  position: relative;
  padding-top: var(--padding-y);
  margin-top: var(--padding-y);
}

.results .text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.results .grid {
  grid-template-columns: repeat(3, 1fr);
  background: var(--cream);
  width: 100%;
  padding: 1rem;
}

.results .grid > * {
  grid-column: span 1;
}

.helper-text {
  padding: 1rem;
  background: var(--cream);
  color: var(--black);
  width: 100%;
}

.helper-text,
.results .grid {
  transition: opacity 0.2s ease;
}

.results .grid {
  opacity: 0;
}

.helper-text,
.results .grid {
  position: absolute;
  top: 0;
  left: 0;
}

#your-flavor {
  font-size: 1.5rem;
  font-weight: 700;
}

.results h6 {
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--black-10);
}

.results h6 span {
  color: var(--black-00);
}
