.spotlight .cta {
  cursor: auto;
}

.spotlight .cta::after {
  display: none;
}

.spotlight .cta span {
  color: var(--black-10);
}

.spotlight .grid {
  padding-top: var(--padding-y);
}

.spotlight .container {
  position: relative;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

.spotlight .container::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--padding-x) * 2);
  height: calc(100% + var(--padding-y) * 2);
  margin-top: calc(var(--padding-y) * -1);
  margin-left: var(--padding-x);
  border-top: 1px dotted var(--black-00);
  /* border-bottom: 1px dotted var(--black-00); */
}

.spotlight-cta {
  background: var(--cream);
  color: var(--black-00);
  padding: 1rem;
  margin-top: 3rem;
}

.spotlight-cta p {
  margin: 0;
  max-width: initial;
}

.spotlight-cta .hashtag {
  font-weight: 500;
  color: var(--black-00);
}

.spotlight .image img {
  object-position: top;
  transform: scale(1.2);
}

.spotlight .text .cta {
  margin-top: 0;
}
