.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 0;
}

.text {
  grid-column: span 3;
  order: 10;
}

.image {
  grid-column: span 2;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.image img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
  .text {
    order: initial;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
